<p>Use a Game ID and player name to join a game</p>
<form  (ngSubmit)="submitForm();">
  <mat-card class="add-user-card">
    <mat-card-header>
      <mat-card-title class="add-game-title">Join a lobby</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="flex-col">
            <br /><!--added this break to allow space fpr longer error messages-->
            <mat-form-field [formGroup]="userForm">
              <mat-label for="userName">Username</mat-label>
              <input matInput type="text"
                formControlName="userName" required>
              @if (formControlHasError('userName')) {
                <mat-error data-test="userNameError">{{getErrorMessage('userName')}}
                </mat-error>
              }
            </mat-form-field>

          </div>
        </mat-card-content>
      </mat-card>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          type="button"
          color="primary"
          [disabled]="!userForm.valid"
          type="submit"
          data-test="confirmJoinButton"
          >
          JOIN GAME
        </button>
      </mat-card-actions>
</form>
