<div class="flex-row">
  <div class="flex-1">
    <mat-card class="join-card">
      <mat-card-header>
        <mat-card-title class="join-title">Join</mat-card-title>
      </mat-card-header>
      <mat-card class="home-card">
        <mat-card-content>
          <input class="join-lobby" matInput type="text" [(ngModel)]="joinId">
          <a routerLink="/game/{{joinId}}">
            <button data-test="confirmJoinLobbyButton">
              Join Game
            </button>
          </a>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</div>
