<div class="flex-row">
  <div class="flex-1">

    <mat-card class="home-card">
      <mat-form-field>
        Lobby Name: {{game().lobbyName}}
        <div>
          Lobby ID: {{game()._id}}
        </div>
      </mat-form-field>
    </mat-card>
    <div style="float: right">
    <ul class="player-list">
      @if (game().userIDs) {
        <mat-list data-test="player-list">
        @for (player of game().userIDs; track player; let i = $index) {

          <mat-list-item data-test="player">{{ fetchUserName(player) }}</mat-list-item>
        }
        </mat-list>
      }
    </ul>
  </div>
    <div style="float:left" class="round-counter">
      <h2 class="round-value">Round: {{ round }}</h2>
      <button class="increment-round" (click)="incrementRound()">Next Round</button>
    </div>
  </div>
</div>
