li {
    padding: 1%;
    list-style-type: none;
    font-size: 14pt;
}
.score-counter {
  margin-top: 20px;
}

.score-value {
  font-size: 1.5em;
  color: #4caf50;
}

.increment-score {
  margin-top: 10px;
}
